.timezone-container-details {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-primary-other);
  color: var(--color-White-other);
  opacity: 0.75;
  padding: 5rem 0rem 0rem 15rem;
  gap: 1rem;
  width: 100%;
  transition: height 0.4s ease-in-out;
  @media only screen and (max-width: $bp-largest) {
    padding: 5rem 0rem 5rem 10rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 5rem 0rem 5rem 5rem;
  }
  @media only screen and (max-width: $bp-small) {
    padding: 5rem 2rem;
    gap: 0rem;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex-direction: column;
    width: 42rem;
    height: 10rem;
    color: inherit;
    @media only screen and (max-width: $bp-medium-tab) {
      width: 30rem;
    }
    @media only screen and (max-width: $bp-small) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      height: 4.4rem;
    }
    span {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1.5rem;
      color: inherit;
      @media only screen and (max-width: $bp-small) {
        font-size: 1.3rem;
        letter-spacing: 1px;
      }
    }
  }
  &__hide {
    visibility: hidden !important;
    display: none !important;
    opacity: 0 !important;
  }
}
