@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --color-primary: #000000;
  --color-primary-other: #000000;
  --color-secondary: #303030;
  --color-White: #ffffff;
  --color-White-other: #ffffff;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  max-width: 144rem;
  min-height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--color-White);
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  letter-spacing: 2px;
}

.heading-One {
  font-size: 18rem;
  line-height: 18rem;
  @media only screen and (max-width: $bp-medium-tab) {
    font-size: 17.4rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 10rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    font-size: 7.8rem;
  }
}
.heading-two {
  font-size: 4.6rem;
  line-height: 4.6rem;
  @media only screen and (max-width: $bp-medium-tab) {
    font-size: 4rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.8rem;
  }
}

.heading-three {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.6rem;
  }
}

.heading-four {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.5rem;
  }
}

.heading-five {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.heading-six {
  font-size: 1.5rem;
  line-height: 2.8rem;
}

p {
  color: inherit;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 400;
  @media only screen and (max-width: $bp-smaller) {
    font-size: 1.5rem;
  }
}
